
.item-page {
  min-height: calc(100vh - 480px - 175px);

  .slider {

    .slider-nav {
      overflow: hidden;
      height: 0;

      .scroll-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        transition-duration: .5s;

        @include media-breakpoint-down(sm) {
          overflow-y: auto;
          padding-bottom: 1em;
          top: 0 !important;
        }
      }

      .item {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;

        @include media-breakpoint-down(sm) {
          margin-bottom: 0;
          margin-right: 15px;
          width: auto;
        }

        .img-wrapper {
          display: flex;
          justify-content: center;
          border-radius: 10px;
          cursor: pointer;

          img {
            border-radius: 10px;
          }
        }
      }
    }

    .slider-for {
      @include media-breakpoint-down(sm) {
        margin-bottom: 1em;
      }

      .img-wrapper {
        width: 100%;
        border-radius: 10px;
        display: none;

        &.active {
          display: block;
          animation: fade-in .5s;
        }

        &:not(.active) {
          animation: fade-out .5s;
        }

        img {
          border-radius: 10px;
        }

        @keyframes fade-in {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        @keyframes fade-out {
          from {
            opacity: 1;
          }
          to {
            opacity: 0;
          }
        }
      }
    }

    .hidden-overflow {
      overflow: hidden;
    }
  }

  .slider-button {
    border: none;
    background: transparent;
    color: #4F545B;

    i {
      font-size: 1.8em;
    }

    &#prev {
      i {
        margin-bottom: .3em;
      }
    }

    &#next {
      i {
        margin-top: .3em;
      }
    }
  }

  .breadcrumb {
    font-size: 0.9em;
    color: #2D3134;

    .breadcrumb-link {
      color: #2D3134;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title-wrapper {
    font-size: 1.5em;
    font-weight: bold;
    color: #2D3134;
  }

  .prices-wrapper {
    .old-price {
      display: none;
      color: #4F545B;
      font-size: 0.9em;
      text-align: left;
      width: 100%;
      padding-left: 0.1em;
      text-decoration: line-through;
      margin-bottom: -0.3em;
    }

    .price {
      font-weight: 500;
      font-size: 1.2em;
      color: #2D3134;
    }

    &.sale {
      .old-price {
        display: block;
      }
    }
  }

  .sizes-wrapper {
    .size-table {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .size-box {
        background: #E9EAEC;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
        cursor: pointer;
        position: relative;

        &.selected {
          background: #2D3134;
          color: #fff;
        }

        &.disabled {
          color: #4F545B;
          cursor: default;

          &::before {
            content: "";
            display: block;
            position: absolute;
            width: auto;
            height: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0) url('../images/desabled-skus.svg');
            background-size: 100% 100%;
          }
        }
      }
    }
  }

  .description-wrapper {
    .title {
      font-weight: bold;
      color: #2D3134;
    }

    .description {
      color: #4F545B;
      font-size: .9em;
    }
  }

  .item-details {
    .btn-to-cart {
      width: auto;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  .category-preview .title-wrapper > .title,
  .category-preview .title-wrapper > a i {
    font-size: 1em;
  }

  .category-preview {
    padding-left: 0;
    padding-right: 0;
  }
}
