
.item-page {
  min-height: calc(100vh - 480px - 175px);
  margin-top: 100px;
  padding-left: 30px;
  padding-right: 30px;

  .images-stack {
    img {
      width: 100%;
      margin-bottom: 1.5em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .content-wrapper {
    position: sticky;
    top: 100px;
  }

  .breadcrumb {
    font-size: 0.9em;
    color: $gray;

    .breadcrumb-link {
      color: $gray;

      &:hover {
        color: $dark;
      }
    }

    span {
      color: $dark;
    }
  }

  .title-wrapper {
    font-size: 1.5em;
    font-weight: bold;
    color: #2D3134;
  }

  .type-wrapper {
    color: $gray;

  }

  .prices-wrapper {
    display: flex;

    .old-price {
      //display: none;
      color: $light-gray;
      font-size: 1.7em;
      padding-left: 0.1em;
      text-decoration: line-through;
      margin-right: .5em;
    }

    .price {
      font-weight: 500;
      font-size: 1.7em;
      color: $dark;
    }

    &.sale {
      .old-price {
        display: block;
      }
    }
  }

  .sizes-wrapper {
    .title {
      color: $dark;
      font-size: 1.3em;
    }

    .size-table {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .size-box {
        background: #E9EAEC;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
        cursor: pointer;
        position: relative;

        &.selected {
          background: #2D3134;
          color: #fff;
        }

        &.disabled {
          color: #4F545B;
          cursor: default;

          &::before {
            content: "";
            display: block;
            position: absolute;
            width: auto;
            height: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0) url('../images/desabled-skus.svg');
            background-size: 100% 100%;
          }
        }
      }
    }
  }

  .description-wrapper {
    .title {
      color: $dark;
      font-size: 1.3em;
    }

    .description {
      color: $gray;
      font-size: 1.1em;
    }
  }

  .item-details {
    .btn-to-cart {
      width: auto;
      background: $dark;
      color: $white;
      border: 1px solid $dark;
      display: flex;
      align-items: center;
      padding: .5em 1em;
      margin-right: 1em;

      i {
        font-size: 1.3em;
        margin-right: .3em;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    .btn-to-favorite {
      border: 1px solid $dark;
      color: $dark;
      background: transparent;
      font-size: 1.3em;
      padding: 0.2em 0.8em;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  .category-preview .title-wrapper > .title,
  .category-preview .title-wrapper > a i {
    font-size: 1em;
  }

  .category-preview {
    padding-left: 0;
    padding-right: 0;
  }

  .title {
    font-size: 1.6em;
    color: $dark;
  }
}
