
$transition-duration-slide: .5s;

.home-slider {
  margin-top: 80px;
  height: calc(100vh - 80px);

  @include media-breakpoint-down(md) {
    margin-top: 140px
  }

  .slides {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: flex-end;

    @include media-breakpoint-down(md) {
      height: calc(100vh - 80px - 200px);
    }

    .slide-wrapper {
      width: 70%;
      height: calc(100vh - 80px);
      position: absolute;
      right: 0;

      @include media-breakpoint-down(md) {
        width: 100%;
        height: calc(100vh - 80px - 200px);
      }

      .slide {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition-duration: $transition-duration-slide;

        &.active {
          opacity: 1;
          transition-duration: $transition-duration-slide;
        }
      }

      .next-wrapper {
        width: 200px;
        height: 200px;
        position: absolute;
        left: -130px;
        bottom: 3em;
        cursor: pointer;
        z-index: 3;

        @include media-breakpoint-down(md) {
          width: 130px;
          height: 130px;
          right: 0;
          left: auto;
          bottom: -65px;
        }

        .next-slide {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition-duration: $transition-duration-slide;

          &.active {
            opacity: 1;
            transition-duration: $transition-duration-slide;
          }
        }

        .next-button {
          position: absolute;
          right: 0;
          bottom: -1px;
          border: none;
          padding: 0.4em 1.1em;
          background: rgba(255, 255, 255, 0.22);
          backdrop-filter: blur(10px);
          color: $white;

          @include media-breakpoint-down(md) {
            width: 130px;
            transform: rotate(-90deg);
            top: 48px;
            right: -48px;
            bottom: auto;
          }
        }
      }
    }

    .dots {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 1em;
      z-index: 1;

      @include media-breakpoint-down(md) {
        flex-direction: row;
        margin-right: 0;
        position: absolute;
        bottom: 25px;
        width: 100%;
      }

      .dot {
        width: 8px;
        height: 8px;
        margin-bottom: 2em;
        background: $white;
        border-radius: 50rem;
        opacity: .48;

        @include media-breakpoint-down(md) {
          background: $dark;
          margin-bottom: 0;
          margin-right: 2em;

          &:last-child {
            margin-right: 0;
          }
        }

        &.active {
          width: 15px;
          height: 15px;
          opacity: 1;
        }
      }
    }
  }

  .content {
    position: absolute;
    width: 50%;
    height: calc(100vh - 80px);
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
    padding-bottom: 8em;

    @include media-breakpoint-down(md) {
      padding-top: 80px;
      justify-content: space-between;
      padding-bottom: 3.5em;
    }

    .title {
      color: $dark;
      font-size: 3.4em;
      line-height: 1.5em;

      @include media-breakpoint-down(md) {
        font-size: 2.7em;
        line-height: 1em;
      }
    }

    .subtitle {
      position: absolute;
      opacity: 0;
      font-size: 1.2em;
      width: 50%;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      &.active {
        opacity: 1;
      }
    }
  }

  .catalog-link {
    position: absolute;
    bottom: .5em;
    left: 1em;
    font-family: $font-family-slider-to-cart;
    color: $gray;
    font-size: 1.2em;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      bottom: 3em;
    }

    i {
      font-size: 1.4em;
      margin-right: 0.2em;
    }
  }
}
