.item-title {
  margin-bottom: 0;
  font-size: .8em;
}

@include media-breakpoint-up(md) {
  .item-title, .item-price {
    font-size: 1.1em;
  }
}

a {
  color: $gray;
  font-size: 1em;

  &:hover {
    color: $dark;
  }
}

.buttons-wrapper {
  display: flex;

  & > * {
    font-size: 1.4em;
  }

  .cart-button {
    display: flex;
    background: transparent;
    border: none;
    line-height: 1.4em;
  }
}
